@model IEnumerable<ExploreUmbraco.Models.Customer>

<table>
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Company Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerID</td>
                <td>@customer.CompanyName</td>
            </tr>
        }
    </tbody>
</table>
